.client-dashboard-container {
    display: flex;
    padding: 20px;
    width: 70vw;
    height: 70vh;
    border: 1px solid #adb5bd;
    flex-direction: column;
}
/*Header styles*/
.client-dashboard-header{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.client-dashboard-header__search {
    display: flex;
    width: 100%;
    height: 100%;
}

.client-dashboard-header__searchbar {
    width: 70%;
    height: 75%;
    margin-left: 10px;
    border: 1px #adb5bd solid;
    border-radius: 4px;
    transition: 0.4s;
}

.client-dashboard-header__searchbar:focus {
    width: 80%;
    outline: none;
}

mat-icon {
    color: #fd7e14;
}

mat-icon:hover {
    color: #ffc078;
    cursor: pointer;
}

/*Table styles*/
.client-dashboard-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.client-dashboard-body__table {
    border-collapse: collapse; 
    border-spacing: 0;
}

.client-dashboard-body__table th {
    padding: 10px;
    color: #339af0;
    border-bottom: 1px solid #dee2e6;
}

.client-dashboard-body__table td {
    padding: 10px;
    color: #adb5bd;
    text-align: center;
}

/*Table icons styles*/
.table-action-icons {
    display: flex;
    justify-content: space-around;
}

.table-action-icons__edit {
    color: #4dabf7;
}

.table-action-icons__edit:hover {
    color: #a5d8ff;
}

.table-action-icons__delete {
    color: #fa5252;
}

.table-action-icons__delete:hover {
    color: #ff8787;
}

/*Form styles*/

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.form-client > input{
    height: 40px;
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid #adb5bd;
    border-radius: 5px;
    padding: 5px;
}

.form-client > input:focus{
    outline: none;
}

.form-client > span {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

/*Forms buttons*/
.send-client-button {
    height: 40px;
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fd7e14;
    color: #fff;
    font-weight: bold;
    transition: 0.4s;
}

.send-client-button:hover {
    background-color: #ffc078;
    cursor: pointer;
}

.send-client-button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.delete-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding-bottom: 15px;
}

.delete-button {
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fa5252;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    width: 40%;
}

.delete-button:hover {
    background-color: #ff8787;
    cursor: pointer;
}

.cancel-button {
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4dabf7;
    color: #fff;
    font-weight: bold;
    transition: 0.4s;
    width: 40%;
}

.cancel-button:hover {
    background-color: #a5d8ff;
    cursor: pointer;
}